.app_wrapper{
  height: 100vh;
  display: flex;
  flex-direction: row;

  .no_file_selected {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 1.5rem;
    color: grey;
  }

  .toggle_canvas_button {
    position: absolute;
    top: 3%;
    left: 100%;
    background: #f8f8f8;
    border: 1px solid lightgrey;
    border-right: none;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 1000;
    transform: translateX(-100%)
  }

  .sidebar_wrapper {
    min-width: 20px;
    max-width: 200px;
    border-right: 1px solid lightgrey;
  }

  .content_wrapper {
    display: flex;
    flex: 1;
    position: relative;

    .tiptap_wrapper {
      flex: 1;
      overflow-y: auto;
      border-right: 1px solid lightgrey;
    }

    .canvas_wrapper {
      position: relative;
      flex: 1;
    }
  }
}


