html {
  border: 1px solid lightgrey;
  border-radius: 12px
  height: -webkit-fill-available;
  background: #f8f8f8;
  color: #333;
  overflow: hidden;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  /*padding-top: 25px;*/
}

.titlebar {
  /*height: 25px;*/
  background: red;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 1000;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  user-select: none;
  -webkit-user-select: none;
}

.app_wrapper{
  height: 100vh;
  display: flex;
  flex-direction: row;

  .no_file_selected {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 1.5rem;
    color: grey;
  }

  .toggle_canvas_button {
    position: absolute;
    top: 3%;
    left: 100%;
    background: #f8f8f8;
    border: 1px solid lightgrey;
    border-right: none;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 1000;
    transform: translateX(-100%)
  }


  .sidebar_wrapper {
    min-width: 20px;
    max-width: 200px;
    border-right: 1px solid lightgrey;
  }

  .content_wrapper {
    flex: 1;
    position: relative;
  }

  .canvas_wrapper {
    position: absolute; 
    top: 0;
    right: 0;
    width: 100%; 
    height: 100%; 
    background-color: #f0f0f0; /* Optional: Light background for Excalidraw */
    left: 0%;
    z-index: 100;
  }

  .canvas_wrapper.folded {
    /*left: 100%*/
    display: none;
  }

  /**/
  /*.tiptap_wrapper {*/
  /*  flex: 1;*/
  /*  padding: 1rem;*/
  /*  overflow-y: auto;*/
  /*}*/
  /**/
  /*.tldraw_wrapper {*/
  /*  flex: 1;*/
  /*  position: relative;*/
  /*}*/
  /**/
  /*.canvas_wrapper {*/
  /*  flex: 1;*/
  /*  position: relative;*/
  /**/
  /*  .tldraw__editor {*/
  /*    height: 100%;*/
  /*    background: #E1E10D;*/
  /*  }*/
  /*  /*padding-bottom: 1rem;*/*/
  /*  border-left: 1px solid lightgrey;*/
  /*}*/
  /**/
  /*.canvas_folded {*/
  /*    border-left: 10px solid green;*/
  /*    transform: translateX(95%);*/
  /*    transition: transform 0.3s ease-in-out;*/
  /*  }*/
  /*  .canvas_unfolded {*/
  /*    border-left: 19px solid red;*/
  /*    transform: translateX(0%);*/
  /*    transition: transform 0.3s ease-in-out;*/
  /*  }*/
  /**/
}

.tl-container.tl-theme__dark {
	--color-background: transparent;
}

.tl-container.tl-theme__light {
	--color-background: transparent;
}

*:focus {
  border: none;
  outline: none;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 12px;
  font-weight: 400;

  /*color: #0f0f0f;*/
  /*background-color: #f6f6f6;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


